.classicButton {
  padding: 11px 67px;
  border-radius: 6px;
}
/*-----------------------------------------------------------------------------------------------*/

.subscribeClassicButton {
  background-color: var(--green1);
  color: var(--white2);
  padding: 11px 67px;
}
@media (min-width: 750px) {
  .subscribeClassicButton {
    padding: 16px 50px;
  }
}
@media (min-width: 1025px) {
  .subscribeClassicButton {
    width: 339px;
    padding: 21px 138px;
  }
}

.subscribeClassicButton:hover {
  color: var(--black3);
}
/*----------------------------------------------------------------------*/
.registerClassicButton {
  background-color: var(--green1);
  color: var(--white2);
  width: 279px;
  height: 45px;
  padding: 14px 110px;
}
@media (min-width: 750px) {
  .registerClassicButton {
    width: 400px;
    height: 56px;
    padding: 21px 138px;
  }
}
@media (min-width: 1025px) {
  .registerClassicButton {
    height: 59px;
  }
}

.registerClassicButton:hover {
  color: var(--black3);
}
/*-----------------------------------------------------------------------------------------------*/
.smallClassicButton {
  height: 49px;
}
@media (min-width: 750px) {
  .smallClassicButton {
    height: 59px;
  }
}
/*-----------------------------------------------------------------------------------------------*/

.buttonCancel {
  background: var(--grey2);
  color: var(--black2);
}
.buttonCancel:hover {
  background-color: var(--white1);
}
/*-----------------------------------------------------------------------------------------------*/

.buttonLogout {
  background: var(--green1);
}
.buttonLogout:hover {
  background-color: var(--black3);
}
