@media (min-width: 320px) and (max-width: 1439px) {
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    z-index: 1000;
  }
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  z-index: 1000;
}

.modalContent {
  width: 161px;
  height: 131px;
  border: 6px;
  position: absolute;
  top: 70px;
  right: 200px;
  background-color: var(--white2);
  padding: 18px;
  border: 1px solid var(--green1);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.editProfile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}
.EditIcon {
  color: var(--black2);
}
.buttonLogout {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green1);
}
.buttonLogout:hover {
  background-color: var(--black3);
}
.RightArrowIcon {
  margin-left: 7px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .modalContent {
    width: 177px;
    height: 134px;
    border: none;
    top: 75px;
  }
}

@media (min-width: 1440px) and (max-width: 2000px) {
  .modalContent {
    width: 177px;
    height: 134px;
    border: none;
    top: 120px;
  }
}
