.userImage {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--grey2);
  background-size: cover;
  background-position: center;
  position: relative;
}

.svgIcon {
  position: absolute;
  color: var(--grey3);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.userName {
  font-weight: 600;
  font-size: 14px;
  margin-left: 14px;
  margin-right: 50px;
}
