.page {
  position: relative;
}
.container {
  width: 100%;
  padding: 12px;
}

.mainSection {
  margin-bottom: 100px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 375px;
    margin: 0 auto;
    padding: 16px;
    z-index: -1;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px 24px;
  }
}
@media screen and (min-width: 1440px) {
  .page {
    margin: 0 auto;
    position: relative;
  }
  .container {
    width: 1440px;
    padding: 100px;
  }
}
