.container {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 51px;
}
.select {
  background-color: var(--white2);
  color: #000000;
  opacity: 50%;
  border: none;
  border-radius: 0 0 6px 6px;
  margin-left: 15px;
}
.option {
  padding-left: 20px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .container {
    margin-top: 28px;
  }
}

@media (min-width: 1440px) and (max-width: 2000px) {
  .container {
    margin-top: 28px;
    margin-bottom: 102px;
  }
}
