:root {
  --brand-color: #8BAA36;
  --accent-color: #EBF3D4;
  --background-color: #FAFAFA;
  --content-background-color: ;

  --button-color: ;
  --hover-color: ;

  --text-color: #3E4462;
  --main-font: ;
  --accent-text-font: ;

  --close-button: #1F242E;
  --button-stroke: #22252A;

  --input: #3E4462;
}

