.containerItem {
  border-radius: 8px;
  padding: 14px 9px;
  width: 343px;
  height: 152px;
  background: var(--white1);
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.image {
  border-radius: 8px;
  width: 124px;
  height: 124px;
}

.descContainer {
  min-width: 187px;
  padding-left: 0;
}

.title {
  display: flex;
  justify-content: space-between;
}

.title h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: var(--black4);
  margin-bottom: 14px;
}

.removeButton {
  background-color: var(--green2);
  color: var(--black3);
  border: none;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.removeButton svg {
  width: 14px;
  height: 14px;
}

.removeButton:hover,
.removeButton:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.description {
  font-size: 8px;
  letter-spacing: -0.02em;
  color: var(--black2);
  margin-bottom: 24px;
  width: 163px;
  height: 35px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
  max-height: calc(1.5em * 4);
  line-clamp: 4;
}

.buttonBox {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.buttonBox p {
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: var(--black4);
}

.seeButton {
  align-items: start;
  width: 87px;
  height: 27px;
  background-color: var(--black3);
  border: none;
  border-radius: 24px 44px;
  color: var(--white2);
  font-size: 10px;
}

.seeButton:hover,
.seeButton:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/* tablet */

@media (min-width: 768px) and (max-width: 1439px) {
  .containerItem {
    padding: 28px 24px;
    width: 704px;
    height: 288px;
    gap: 8px;
  }

  .image {
    width: 228px;
    height: 232px;
  }

  .descContainer {
    min-width: 420px;
    padding-left: 16px;
  }

  .title h3 {
    font-size: 24px;
    letter-spacing: -0.01em;
    margin-bottom: 28px;
  }

  .removeButton {
    width: 38px;
    height: 38px;
  }

  .removeButton svg {
    width: 22px;
    height: 22px;
  }

  .description {
    font-size: 14px;
    margin-bottom: 46px;
    width: 404px;
    height: 107px;
  }

  .buttonBox p {
    font-size: 14px;
    line-height: 143%;
  }

  .seeButton {
    width: 138px;
    height: 45px;
    font-size: 14px;
  }
}

/* desktop */

@media (min-width: 1440px) {
  .containerItem {
    padding: 40px;
    width: 1240px;
    height: 404px;
    gap: 14px;
  }

  .image {
    width: 318px;
    height: 324px;
  }

  .descContainer {
    min-width: 806px;
    padding-left: 40px;
  }

  .title h3 {
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.01em;
    margin-bottom: 40px;
  }

  .removeButton {
    width: 44px;
    height: 44px;
  }

  .removeButton svg {
    width: 24px;
    height: 24px;
  }

  .description {
    font-size: 18px;
    margin-bottom: 67px;
    width: 806px;
    height: 134px;
  }

  .buttonBox p {
    font-size: 14px;
    line-height: 143%;
  }

  .seeButton {
    width: 172px;
    height: 59px;
    font-size: 16px;
  }
}
