.fancy_button {
  border-radius: 24px 44px;
  padding: 6px 14px;
  color: var(--white-text);
  font-size: 16px;
  line-height: 24px;
}

.fancy_green_button {
  background-color: var(--green-color);
}
.fancy_green_button:hover {
  background-color: var(--buttons-background);
}

.fancy_black_button {
  background-color: var(--buttons-background);
}
.fancy_black_button:hover {
  background-color: var(--green-color);
}
.fancy_singin_button {
  background-color: transparent;
  border: 2px solid var(--white-text);
  width: 141px;
  height: 67px;
}
.fancy_singin_button:hover {
  color: var(--green-color);
  border: 2px solid var(--green-color);
}
.fancy_favorite_button {
  color: var(--buttons-background);
  background-color: transparent;
  border: 2px solid var(--green-color);
  width: 150px;
  height: 35px;
  font-size: 10px;
  line-height: 15px;
}
@media (min-width: 750px) {
  .fancy_favorite_button {
    width: 270px;
    height: 59px;
    font-size: 16px;
    line-height: 24px;
  }
}

.fancy_favorite_button:hover {
  color: var(--white-text);
  background-color: var(--green-color);
  border: 2px solid transparent;
}
