.fancyButton {
  border-radius: 24px 44px;
  padding: 6px 14px;
  color: var(--white-text);
  font-size: 16px;
  line-height: 24px;
}

.greenButton {
  background-color: var(--green-color);
}
.greenButton:hover {
  background-color: var(--buttons-background);
}

.blackButton {
  background-color: var(--buttons-background);
}
.blackButton:hover {
  background-color: var(--green-color);
}
.singinButton {
  background-color: transparent;
  border: 2px solid var(--white-text);
  width: 141px;
  height: 67px;
}
.singinButton:hover {
  color: var(--green-color);
  border: 2px solid var(--green-color);
}
.favoriteButton {
  color: var(--buttons-background);
  background-color: transparent;
  border: 2px solid var(--green-color);
  width: 150px;
  height: 35px;
  font-size: 10px;
  line-height: 15px;
}
@media (min-width: 750px) {
  .favoriteButton {
    width: 270px;
    height: 59px;
    font-size: 16px;
    line-height: 24px;
  }
}

.favoriteButton:hover {
  color: var(--white-text);
  background-color: var(--green-color);
  border: 2px solid transparent;
}
