.navList {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: baseline;
  gap: 30px;
  font-size: 14px;
  font-weight: medium;
  color: var(--black2);
}

.link {
  color: inherit;
}
.link:hover,
.link:focus,
.link:active {
  color: var(--green1);
}

@media screen and (max-width: 1439px) {
  .navList {
    display: none;
  }
}
