.navList {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: baseline;
  gap: 30px;
  font-size: 14px;
  font-weight: 500;
  color: var(--black2);
  margin-left: 231px;
  margin-right: 226px;
  white-space: nowrap;
}
.navLink:hover {
  font-weight: 600;
  color: var(--green1);
}

.link {
  color: inherit;
}
.link:hover,
.link:focus,
.link:active {
  color: var(--green1);
}

.link:hover {
  cursor: pointer;
}

@media screen and (max-width: 1439px) {
  .navList {
    display: none;
  }
}
