.form {
  display: flex;
  justify-content: center;
}
.fancyInput {
  border: 1px solid var(--white3);
  border-radius: 24px 44px;
  color: var(--grey4);
  width: 295px;
  height: 52px;
  position: relative;
}
.fancyInput.input-focused {
  border-color: var(--green1);
}

.fancyInput:focus-within {
  border-color: var(--black2Transparent);
}

.input {
  border-radius: 24px 44px;
  background-color: transparent;
  color: var(--black2);
  border: none;
  outline: none;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  padding-left: 32px;
  top: 0;
}

.greenButton {
  background-color: var(--green1);
  color: var(--white2);
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 113px;
}
.greenButton:hover {
  background-color: var(--black3);
}

@media (min-width: 768px) and (max-width: 1439px) {
  .fancyInput {
    width: 362px;
    height: 59px;
  }

  .greenButton {
    width: 161px;
  }
  .input {
    font-size: 14px;
    line-height: 21px;
  }
}

@media (min-width: 1440px) and (max-width: 2000px) {
  .fancyInput {
    width: 510px;
    height: 70px;
  }

  .greenButton {
    width: 161px;
  }
  .input {
    font-size: 16px;
    line-height: 24px;
  }
}
