@media (max-width: 1439px) {

    :root {
        --bar-width: 40px;
        --bar-height: 2px;
        --hamburger-gap: 10px;
        --foreground: var(--black3);
        --background: var(--black3);
        --hamburger-margin: 20px;
        --hamburger-animation-timing: 500ms ease-in-out;
        --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    }

    .hamburgerMenu {
        --x-width: calc(var(--hamburger-height) * 1.41421356237);
        display: flex;
        flex-direction: column;
        gap: var(--hamburger-gap);
        width: max-content;
        position: absolute;
        top: var(--hamburger-margin);
        right: var(--hamburger-margin);    
        z-index: 2;
        cursor: pointer;
    }

    .hamburgerMenu:has(input:checked) {
        --foreground: var(--black3);
        --background: var(--black3);
    }

    .hamburgerMenu:has(input:focus-visible)::before,
    .hamburgerMenu:has(input:focus-visible)::after,
    .hamburgerMenu input:focus-visible {
        border: 1px solid var(--green1);
        box-shadow: 0 0 0 1px var(--green1);
    }

    .hamburgerMenu::before,
    .hamburgerMenu::after,
    .hamburgerMenu input {
        content:"";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--black3);
        border-radius: 9999px;
        transition: opacity var(--hamburger-animation-timing), width var(--hamburger-animation-timing), 
        rotate var(--hamburger-animation-timing), translate var(--hamburger-animation-timing);
        transform-origin: left center;
    }

    .hamburgerMenu input {
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;
    }

    .hamburgerMenu:has(input:checked)::before {
        rotate: 45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / -2); 
    }

    .hamburgerMenu:has(input:checked)::after {
        rotate: -45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / 2); 
    }

    .hamburgerMenu input:checked {
        opacity: 0;
        width: 0;
    }

    .sidebar {
        transition: transform var(--hamburger-animation-timing);
        transform: translateY(-100%);
        background-color: var(--green4);
        width: 100vw;
        margin-top: -7vh;
        margin-left: -20vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 120vh;
    }

    .hamburgerMenu:has(input:checked) + .sidebar {
        transform: translateY(0);

    }

}