.container {
  width: 100%;
  padding: 12px;
}

.hamburgerLogo {
  position: absolute;
  top: 18px;
  left: 16px;
}

.nav {
  height: 65px;
  position: relative;
}

.menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.input {
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

.hamburger {
  position: absolute;
  top: 35px;
  right: 25px;
}

.hamburger span {
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: var(--black3);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.hamburger span:first-child {
  transform-origin: 0% 0%;
}

.hamburger span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.input:checked ~ .hamburger span {
  opacity: 1;
  transform: rotate(45deg) translate(-18px, -10px);
  background: #36383f;
}
.input:checked ~ .hamburger span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.input:checked ~ .hamburger span:nth-last-child(2) {
  transform: rotate(-45deg) translate(-4px, 0px);
}

.menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  box-shadow: 0 0 10px #85888c;
  margin: 0;
  background-color: #f5f6fa;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  background-color: var(--green4);
}

.menu li {
  transition-delay: 2s;
}

.menuToggle input:checked ~ ul {
  transform: none;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin: 0 auto;
    padding-left: 21px;
    padding-right: 80px;

    display: flex;
    justify-content: space-between;
  }
  .rightHeader {
    display: flex;
  }
  .hamburgerLogo {
    position: absolute;
    top: 18px;
    left: 16px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
  }
  .rightHeader {
    display: flex;
    justify-content: space-between;
  }
  .hamburgerLogo {
    position: absolute;
    top: 18px;
    left: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu {
    display: none;
  }
  .rightHeader {
    display: flex;
    align-items: center;
  }
  .hamburgerLogo {
    display: none;
  }
  .input,
  .hamburger {
    display: none;
  }
}
