.authNav {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome {
  color: var(--white2);
  width: 305px;
  margin-bottom: 44px;
  margin-top: 28px;
}

.logoIcon {
  width: 54px;
  height: 54px;
}

.title {
  font-size: 24px;
  text-align: center;
}

.text {
  font-size: 16px;
  text-align: center;
}

.authOptions {
  display: flex;
  gap: 20px;
}

.registerBtn {
  background-color: var(--green2);
}

.singinButton {
  background-color: transparent;
  border: 2px solid var(--white2);
  width: 95px;
  height: 45px;
}
.singinButton:hover {
  color: var(--green1);
  border: 2px solid var(--green1);
}

.greenButton {
  background-color: var(--green1);
  border: none;
  width: 132px;
  height: 45px;
}
.greenButton:hover {
  background-color: var(--black3);
}

@media (min-width: 768px) and (max-width: 1439px) {
  .welcome {
    width: 500px;
    margin-bottom: 40px;
    margin-top: 44px;
  }
  .logoIcon {
    width: 68px;
    height: 68px;
  }
  .greenButton {
    width: 184px;
    height: 67px;
  }
  .singinButton {
    width: 141px;
    height: 67px;
  }
}

@media (min-width: 1440px) and (max-width: 2000px) {
  .welcome {
    width: 540px;
    margin-bottom: 40px;
    margin-top: 44px;
  }
  .logoIcon {
    width: 68px;
    height: 68px;
  }
  .greenButton {
    width: 184px;
    height: 67px;
  }
  .singinButton {
    width: 141px;
    height: 67px;
  }
}
