.container {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}

.header {
  display: none;
}

.followus {
  display: none;
}

/* tablet */

@media (min-width: 768px) and (max-width: 1439px) {
  .container {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

/* desktop */

@media (min-width: 1440px) {
  .container {
    margin-top: 100px;
    width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 200px;
    margin-bottom: 200px;
  }

  .side {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }

  .header {
    display: block;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: var(--black4);
    margin-bottom: 40px;
  }

  .followus {
    display: flex;
    gap: 20px;
    list-style: none;
    margin-bottom: 100px;
    color: var(--green1);
  }

  .followus svg {
    height: 26px;
    width: 26px;
  }
}
