.container {
  width: 100%;
  padding: 12px;
}

.footer {
  background-color: var(--black3);
}

.copyright {
  background-color: var(--white2);
}

.footerBox {
  display: flex;
  flex-direction: column;
  gap: 44px;
  align-items: center;
}

.sYumNavSub {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 32px;
}

.sYumNav {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.soYummyBlock {
  color: var(--white2);
}

.soYummyHeader {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  gap: 8px;
  font-size: 18px;
  font-weight: bold;
}

.benefits {
  margin-left: 15px;
}

.copyrightBox {
  display: flex;
  justify-content: center;
  gap: 12px;
  color: var(--black3);
  font-size: 10px;
}

.followUs {
  font-size: 20px;
  color: #8baa36;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin: 0 auto;
    padding: 28px 32px 18px;
  }
  .copyrightBox {
    gap: 14px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 20px 32px 24px;
  }
  .footerBox {
    gap: 38px;
  }
  .title {
    font-size: 28px;
    gap: 12px;
  }
  .benefits {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 24px;
    margin-left: 16px;
    font-size: 14px;
  }
  .sYumNav {
    flex-direction: row;
    justify-content: space-between;
    /* gap: 173px; */
  }
  .copyrightBox {
    gap: 28px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 64px 100px 50px;
  }
  .footerBox {
    gap: 41px;
  }
  .sYumNavSub {
    width: 100%;
    flex-direction: row;
    align-items: start;
    gap: 235px;
  }
  .benefits {
    gap: 12px;
    margin-top: 40px;
    margin-left: 16px;
    font-size: 18px;
  }
  /* .sYumumNav {
    gap: 159px;
  } */
  .copyrightBox {
    gap: 40px;
  }
}

@media screen and (max-width: 767px) {
  .benefits {
    display: none;
  }
}