.subscribeForm {
  display: block;
}

.inviteBlock {
  display: block;
  color: var(--white2);
  margin-bottom: 28px;
}

.inviteTitle {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 14px;
}

.inviteText {
  display: block;
  font-size: 14px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputBox {
  display: block;
  position: relative;
  font-size: 10px;
  line-height: 1.4;
}

.input {
  background-color: transparent;
  color: var(--white2);
  border: 1px solid var(--white2);
  border-radius: 6px;
  outline: none;
  width: 204px;
  height: 38px;
  display: flex;
  align-items: left;
  justify-content: center;
  padding-left: 42px;
}
.input::placeholder {
  margin-left: 42px;
}

.icon {
  position: absolute;
  left: 14px;
  top: 13px;
  height: 12px;
  width: 16px;
  color: var(--white2);
}

.label {
  position: relative;
}

.subscribeBtn {
  width: 204px;
  height: 38px;
  color: var(--white2);
  background-color: var(--green1);
  border: 1px solid var(--grenn1);
  border-radius: 6px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
}

@media screen and (min-width: 768px) {
  .form {
    flex-direction: row;
    gap: 12px;
  }
  .inputBox {
    font-size: 14px;
  }
  .input {
    width: 259px;
    height: 50px;
    padding-left: 51px;
  }
  .icon {
    height: 16px;
    width: 20px;
    left: 15px;
    top: 17px;
  }
  .button {
    width: 187px;
    height: 50px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .form {
    flex-direction: column;
    gap: 16px;
  }
  .inputBox {
    font-size: 18px;
  }
  .input {
    width: 339px;
    height: 60px;
    padding-left: 51px;
  }
  .icon {
    left: 16px;
    top: 21px;
  }
  .button {
    width: 339px;
    height: 60px;
    font-size: 16px;
  }
}

@media screen and (max-width: 1439px) {
  .inviteBlock {
    display: none;
  }
}