@media (min-width: 1025px) {
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.056);
    display: flex;
    z-index: 1001;
  }

  .modalContent {
    width: 500px;
    height: 215px;
    border: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white2);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 50px;
  }
}

.description {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 24px;
}
.smallClassicButton {
  height: 49px;
}
@media (min-width: 750px) {
  .smallClassicButton {
    height: 59px;
  }
}

.buttonCancel {
  background-color: var(--grey2);
  color: var(--black2);
  margin-left: 16px;
}
.buttonCancel:hover {
  background-color: var(--white1);
}

.buttonLogout {
  background: var(--green1);
}
.buttonLogout:hover {
  background-color: var(--black3);
}
