.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.056);
  display: flex;
  z-index: 1000;
}

.modalContent {
  width: 330px;
  height: 179px;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  background-color: var(--white2);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 44px 24px;
}

.description {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 18px;
}
.smallClassicButton {
  height: 49px;
  padding: 18px 21px;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 750px) {
  .modalContent {
    width: 480px;
    height: 215px;
    padding: 50px 40px;
  }
  .smallClassicButton {
    width: 192px;
    height: 59px;
  }
}

@media (min-width: 1440px) and (max-width: 2000px) {
  .smallClassicButton {
    width: 192px;
    height: 59px;
  }
  .modalContent {
    width: 500px;
    height: 215px;
    padding: 50px;
  }
}
.buttonCancel {
  background-color: var(--grey2);
  color: var(--black2);
  margin-left: 16px;
}
.buttonCancel:hover {
  background-color: var(--white1);
}

.buttonLogout {
  background: var(--green1);
}
.buttonLogout:hover {
  background-color: var(--black3);
}
