.fancyButton {
  border-radius: 24px 44px;
  padding: 6px 14px;
  color: var(--white2);
  font-size: 16px;
  line-height: 24px;
}
/*-------------------------------------------------------------------------*/
.greenButton {
  background-color: var(--green1);
}
.greenButton:hover {
  background-color: var(--black3);
}
/*-------------------------------------------------------------------------*/

.blackButton {
  background-color: var(--black3);
}
.blackButton:hover {
  background-color: var(--green1);
}
/*-------------------------------------------------------------------------*/

.transparentButton {
  color: var(--black2);
  background-color: transparent;
  border: 2px solid var(--green1);
}
@media (min-width: 768px) and (max-width: 1439px) {
  .transparentButton {
    font-size: 16px;
    line-height: 24px;
  }
}

.transparentButton:hover {
  color: var(--white2);
  background-color: var(--green1);
  border: 2px solid transparent;
}
/*-------------------------------------------------------------------------*/

.singinButton {
  background-color: transparent;
  border: 2px solid var(--white2);
  width: 141px;
  height: 67px;
}
.singinButton:hover {
  color: var(--green1);
  border: 2px solid var(--green1);
}
