.welcome {
  margin: auto;
  padding: 0;
  background-image: linear-gradient(#00000099, #00000058, #00000000),
    url("../../../public/images-bkg/mobile-welcome-salad-plate.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* tablet */

@media (min-width: 768px) and (max-width: 1439px) {
  .welcome {
    background-size: cover;
    background-position: 50% 65%;
    background-image: linear-gradient(#00000099, #00000058, #00000000),
      url("../../../public/images-bkg/tablet-welcome-salad-plate.png");
  }
}

/* desktop */

@media (min-width: 1440px) and (max-width: 2000px) {
  .welcome {
    background-size: cover;
    background-position: 50% 65%;
    background-image: linear-gradient(#00000099, #00000058, #00000000),
      url("../../../public/images-bkg/desktop-welcome-salad-plate.png");
  }
}
