@import url("./styles/colors.css");

:root {
  font-family: Poppins, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: block;

  width: 100%;
  min-height: 100vh;

  color: var(--black2);
  background-color: var(--white2);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: var(--black2);
    background-color: var(--white2);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--white2);
    background-color: var(--black1);
  }
} */
