@import url("./styles/colors.css");

:root {
  font-family: Poppins, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: block;

  width: 100%;
  min-height: 100vh;
  padding: 16px 12px;

  color: var(--black2);
  background-color: var(--white2);
}

a {
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 320px) {
  body {
    width: 320px;
    margin: 0 auto;
    padding: 18px 16px 28px;
  }
}
@media screen and (min-width: 768px) {
  body {
    width: 768px;
    padding: 18px 32px 32px;
  }
}
@media screen and (min-width: 1440px) {
  body {
    width: 1440px;
    padding: 18px 100px 50px;
  }
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: var(--black2);
    background-color: var(--white2);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--white2);
    background-color: var(--black1);
  }
} */
