.arrowButton {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.arrowButton svh {
  stroke: #a9a9a9;
}

.arrowButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pageButton {
  padding: 8px 16px;
  margin: 0 4px;
  background-color: var(--light-gray);
  border: none;
  cursor: pointer;
}

.pageButton.active {
  background-color: var(--dark-gray);
  color: white;
}
