.signinPage {
  width: 100%;
  height: 100dvh;

  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  padding-top: 395px;
  color: var(--white2);
  background-color: var(--black1);
}

.link {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .signinPage {
    padding-top: 444px;
  }
}

@media screen and (min-width: 1440px) {
  .signinPage {
    align-items: left;
    padding-top:155px;
    padding-left: 760px;
  }
}