.container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.paragraph {
  font-size: 28px;
  margin-bottom: 50px;
}

/* tablet */

@media (min-width: 768px) and (max-width: 1439px) {
  .container {
    gap: 40px;
  }

  .paragraph {
    font-size: 28px;
    margin-bottom: 50px;
  }
}

/* desktop */

@media (min-width: 1440px) {
  .container {
    gap: 50px;
  }

  .paragraph {
    font-size: 28px;
    margin-bottom: 50px;
  }
}
